<div>
  <p>Hello, world!</p>
<!--
  <table>
    <tr>
      <th>File Description</th>
      <th>File Location</th>
    </tr>
    <tr>
      <td>This view file</td>
      <td></td>
    </tr>
    <tr>
      <td>The layout file</td>
      <td></td>
    </tr>
    <tr>
      <td>The current controller</td>
      <td></td>
    </tr>
  </table> -->
</div>
